* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  justify-content: center;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 50px;
}
.input-container {
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid;
}
input {
  width: 500px;
  border: none;
  outline: none;
}

.unorderedList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
